language = "html"
entrypoint = "examples/wasm/public/index.html"

modules = ["go", "npm"]

compile = ["sh", "-c", "GOOS=js GOARCH=wasm go build -o examples/wasm/public/main.wasm && cp -rf $(go env GOROOT)/misc/wasm/wasm_exec.js examples/wasm/public/"]
run = "cd examples/wasm/public && npx static-here"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.go]
pattern = "**/*.go"

[languages.html]
pattern = "**/*.html"
[languages.html.languageServer]
start = "vscode-html-language-server --stdio"
[languages.html.languageServer.initializationOptions]
provideFormatter = true